{
    margin:0;
    padding:0;
}
:root{
    --color-boton:hsl(201, 37%, 55%);
    --padding:15px 32px;
    --color-caja:linear-gradient(rgb(41, 162, 237), rgb(192, 229, 255)) ;
    --border-radius:25px;
    --font-family:Times;
    --border:5px ridge #1a1c1ddf;
    --color-fondo:linear-gradient(rgba(239, 239, 245, 0.19), rgb(192, 229, 255));
    --border-comen:5px solid #070707;
    --font-size:30px;
    }

.contenedor{
    background:#faf8f8;
    width: 450px;
    height: 700px;
    /* position: absolute; */
     display: block;
    margin-top: 0;
    border:var(--border);
    border-radius: var(--border-radius);
    /* justify-content: center;  */
    background-position: center;
    
}

.title{

    text-align: center;
    color: #090909;
    margin-top: 300px;
  
}
.cajaLogin{

background:rgba(16, 206, 218, 0.44);
width: 443px;
height: 300px;
position: absolute; 
border-radius: var(--border-radius);


}

.buttonGoogle{
 padding: var(--padding);
 background: var(--color-fondo);
 margin-top: 200px;
 margin-left: 120px;
 /* display: flex;
 justify-content: center; */
 

}

.img{
   
    width:260px;
    height:220px;  
    border-radius: var(--border-radius);
    position: absolute; 
    margin-top:20px ;
    margin-left: 100px;
  

}